Weka_Lab/weka_week4_5_6.pdf
Networks_Lab/tempCodeRunnerFile.c
Weka_Lab/321115958-867b7084-e070-44fb-bddb-0ec6d71ede75.png
Weka_Lab/hC.jpg
Weka_Lab/lC.jpg
Weka_Lab/q1.png
Weka_Lab/q2.png
Weka_Lab/roc1.png
Weka_Lab/roc2.png
Weka_Lab/roc3.png
